@import "variables.css";
@import "normalize.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Atkinson", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	
	/* presets (used in reset.css) */
	--border-radius: 0px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	
	/* cream/red */
	/* --color-primary: var(--color-warm-red);
	--color-secondary: var(--color-warm-red-darker);
	--color-bg: var(--color-off-white); */

	--color-primary: var(--color-gray-700);
	--color-secondary: var(--color-gray-1000);
	--color-bg: var(--color-gray-50);
	--color-selection: var(--color-gray-200);
	
	--color-fg: var(--color-primary);
	--color-link: var(--color-primary);
	--color-focus: var(--color-secondary);
	--color-mark: var(--color-secondary);
	--color-border: var(--color-primary);
	--color-button-bg: var(--color-primary);
	--color-button-fg: var(--color-bg);
	--color-button-hover: var(--color-secondary);
	--color-input-bg: var(--color-bg);
	--color-input-fg: var(--color-fg);
	--color-placeholder: var(--color-primary);
	--color-text-outline: var(--color-secondary);

	--fw-normal: 400;
	--fw-bold: 800;

	/* "1" second duration */
	--1s: 1ms;
	--canvas-size: 300px;
}

/* dark theme */
/* this is a starting place for dark mode - test before deploying */

@media screen and (prefers-color-scheme:dark) {
	:root {
		--color-primary: var(--color-gray-100);
		--color-secondary: var(--color-gray-300);
		--color-bg: var(--color-gray-900);
		--color-selection: var(--color-gray-700);
	}
}

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

.dark {
	--color-primary: var(--color-gray-100);
	--color-secondary: var(--color-gray-300);
	--color-bg: var(--color-gray-900);
	--color-selection: var(--color-gray-700);
}

h1, h2, h3, h4, h5, h6, p, li, button, a, input, textarea, select, label, form, details {
	font-size: 1em;
	line-height: 1.25;
	font-weight: var(--fw-normal);
}

h1 {
	line-height: 1;
	font-size: clamp(32px, 10vmin, 128px);
	font-weight: 800;
	margin: 0;
}

h2 {
	line-height: 1;
	font-size: clamp(24px, 6vmin, 64px);
	font-weight: 800;
	margin-bottom: 32px;
}

p, li, button, a, input, textarea, select, label, form, details {
	font-size: clamp(16px, 4vmin, 36px);
}

small {
	font-size: clamp(14px, 2vmin, 20px);
	font-weight: var(--fw-bold);
	vertical-align: middle;
}

a {
	border: none;
	border-bottom: 0.1em dashed currentColor;
}

a:hover {
	border-bottom: 0.1em dashed var(--color-secondary);
	color: var(--color-secondary);
}

section {
	width: 100%;
	padding: 0 16px;
	margin: 0 auto;
	
}

strong {
font-weight: var(--fw-bold);
}

mark {
	background: var(--color-fg);
	color: var(--color-bg);
}

ul {
	padding-left: 16px;
	list-style-type: square;
}

button, .btn, [type="button"], [type="submit"], [role="button"], [type="submit"] {
	line-height: 1;
	font-weight: var(--fw-bold);
	padding: 16px;
	text-align: center;
}

button.small, .btn.small {
	font-size: clamp(14px, 2vmin, 20px);
	margin: 0;
}

/* forms */
fieldset {
	border: none;
	padding: 0;
}

label {
	margin-bottom: 8px;
	font-weight: var(--fw-bold);
}

fieldset div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 32px;
}

.info p {
	margin: 0;
}

.invalid, .review {
	color: var(--color-secondary);
}

input {
	border-radius: 0;
}

input[type="checkbox"] {
	width: 1.5em;
	height: 1.5em;
	accent-color: var(--color-fg);
}



@media (min-width: 800px) {
	section {
		padding: 0 32px;
		min-width: max(540px, 50vw);
		max-width: 70vmin;
	}
	
	ul {
		padding-left: 32px;
	}
}
